<div class="main">
    <div style="width: 70%; height: 100%;">
        <div class="img">
            <img [src]='img.url' style="width: 80%;" />
        </div>
    </div>
    <div class="text">
        <div class="textFlex">
            <div>
                <div style="display: inline;">
                    <h2
                        style="font-weight: bold; padding: 10px; margin: 10px; border: 1px grey solid; border-radius: 8px;">
                        <span>Image Name: </span>
                        <span style="color: orange; margin-left: 10%;"> {{img.name}}</span>
                    </h2>
                </div>
                <div style="display: inline; margin-top: 50%;">
                    <h2
                        style="font-weight: bold; padding: 10px; margin: 10px; border: 1px grey solid; border-radius: 8px;">
                        <span>Image Deatils: </span>
                        <span style="color: orange; margin-left: 10%;"> {{img.details}}</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>